<section class="breadcrumbs">
    <div class="container">

        <ol>
            <li><a href="/">Домой</a></li>
            <li>{{title}}</li>
        </ol>
        <h2>{{title}}</h2>

    </div>
</section>